.hero-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.background-image {
  width: 100% !important;
  display: block;
}

.overlay-content {
  position: absolute;
  top: 41%;
  left: 4%; /* Adjust as needed */
  transform: translateY(-50%);
  text-align: left;
  color: white; /* Assuming white text for better readability */
  width: 40%; /* Adjust as needed */
  padding: 20px 28px;
  border-radius: 10px;
}

.overlay-content h1,
.overlay-content h2,
.overlay-content h3 {
  margin: 0;
  margin-bottom: 10px;
}
.overlay-content h1 {
  font-size: 45px;
}
.overlay-content h2 {
  font-size: 30px;
}
.overlay-content h3 {
  font-size: 20px;
  line-height: 1.5rem;
}

button {
  background-color: #f2c94c; /* Assuming blue for button background */
  color: black; /* Assuming white text for button */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #f2c94c; /* Darker shade of blue on hover */
}

.foreground-image {
  position: absolute;
  top: 80px;
  right: 70px;
  width: 700px; /* Adjust as needed */
  height: 450px; /* Adjust as needed */
  border-radius: 10px;
}
@media (max-width: 600px) {
  .overlay-content {
    position: static;
    transform: none;
    width: 100%;
    background: none;
    color: black;
  }
  .foreground-image {
    position: absolute;
    top: 5px;
    right: 70px;
    width: 270px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
  }
}
.card__container-accueil {
  margin-bottom: 50px;
}
.card__layout_accueil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1080px;
}
.card__layout_accueil-title {
  text-align: center;
}
@media (max-width: 600px) {
  .card__layout_accueil {
    display: flex;
    flex-direction: column; /* Change to column */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
