.profil__layout {
  display: flex;
  flex-direction: row-reverse;
  background-color: #cfe7c5;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  margin: 20px 0;
}
.profil__img img {
  float: right;
  border-radius: 50%;
  width: 200px;
  height: 190px;
  margin-right: 0;
}
.profil__text {
  margin-left: 40px;
}
.profil__text h2 {
  font-size: 24px;
}
.profil__text h3 {
  font-size: 16px;
}
.profil__text p {
  font-size: 15px;

  line-height: 1.5rem;
}
.profil__layout-experience-formation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profil__layout-formation {
  width: 80%;
  background-color: #cfe7c5;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.profil__layout-formation ul li {
  font-size: 15px;
}

@media (max-width: 800px) {
  .profil__layout-experience-formation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profil__layout-formation {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .profil__layout {
    display: flex;
    flex-direction: column;
  }
  .profil__img img {
    width: 170px;
    height: 160px;
  }
  .profil__text {
    text-align: center;
    margin: 0 0;
  }
}
.article__layout {
  max-width: 800px; /* Adjust maximum width as needed */
  margin: 0 auto;
  padding: 20px; /* Add padding for spacing */
}

.article__layout h2 {
  margin-bottom: 10px; /* Add margin below heading for spacing */
}

.article__layout p {
  /* Add margin below paragraph for spacing */
  font-size: 15px;
  line-height: 1.5rem;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin on top of pagination */
}

.pagination-item {
  margin: 0 5px; /* Add margin between pagination items */
}

.pagination-item a {
  background-color: #f2c94c; /* Theme color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  text-decoration: none;
  border-radius: 5px; /* Add border radius for rounded corners */
}
.pagination a:first-child {
  background-color: green;
}

.pagination-item a:hover {
  background-color: #f5ae09; /* Hover color */
}

/* Responsive Styles */
@media (max-width: 600px) {
  .pagination {
    flex-wrap: wrap;
  }

  .pagination-item {
    margin: 5px; /* Adjust margin for smaller screens */
  }
}
