/* Desktop Layout */
.single__container {
  display: flex;
}

.single__container > div {
  line-height: 2rem;
  /* Adjust spacing as needed */
}

// .single__container > div:first-child {
//    /* Adjust spacing as needed */
// }
.container__single-text {
  padding-left: 28px;
  width: 50%;
  font-size: 14px;
}
.single__texte {
  text-align: left; /* Adjust text alignment as needed */
}

/* Mobile Layout */
@media (max-width: 600px) {
  .single__container {
    flex-direction: column;
  }

  .single__container > div:first-child {
    margin-bottom: 20px; /* Adjust spacing as needed */
  }
}
