.container__herboristerie {
  display: flex;
  flex-direction: column;
}

.container__title-herboristerie {
  text-align: center;
  margin-bottom: 20px;
}

.container__content-img {
  display: flex;
  flex-direction: column;
}

.container__content-herboristerie {
  margin-bottom: 20px;
}

.container__img-container {
  text-align: center;
}

/* Tablet mode */
@media (min-width: 601px) {
  .container__content-img {
    flex-direction: row;
  }

  .container__content-herboristerie {
    flex: 1;
    margin-right: 20px;
  }

  .container__img-container {
    flex: 1;
  }
}
