.blog-article {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc; /* Add a border to separate articles */
  background-color: #fff; /* Background color for the article */
  padding: 20px; /* Add padding for spacing */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.article-header {
  margin-bottom: 20px;
}

.article__title {
  font-size: 24px;
  margin: 0;
  color: #333; /* Title color */
}

.article__meta {
  font-style: italic;
  color: #666;
}

.article__meta .article-date {
  margin-right: 10px;
}

.article__description {
  line-height: 1.6;
  color: #555; /* Text color */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .article__title {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}
