/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/

/**** Typographie responsive ****/

html {
  font-size: 100%;
}

body {
  font-family: $fonteSecondaire;
  @include fontSize(16px);
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
  @media (min-width: 601px) {
  }
}

.texte {
  font-family: $fonteSecondaire;
  @include fontSize(16px);
  line-height: 1.375;
  &--desktop {
    line-height: 1.5;
  }
}
