nav {
  background-color: #108554;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-menu-1-container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-menu-1-container li {
  list-style: none;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-menu-1-container li:hover {
  color: blue;
}
.menu-menu-1-container ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.menu-menu-1-container ul .rdv {
  background-color: #f2c94c;
  padding: 1rem 0.5rem;
}
.menu-menu-1-container ul .rdv a {
  color: black;
}
#hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 54px;
  right: 20px;
  z-index: 10;
}

#hamburger div {
  width: 22px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
  transition: 0.5s;
}

#hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  #hamburger {
    display: block;
  }

  .menu-menu-1-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-color: #108554;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .menu-menu-1-container ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
  }

  .menu-menu-1-container li {
    color: white;
    padding: 15px 0;
  }
}
.nav-active {
  transform: translateX(0);
}

#hamburger.toggle div {
  background-color: white;
}

.toggle #bar1 {
  transform: rotate(-45deg) translate(-5px, 4px);
}

.toggle #bar2 {
  opacity: 0;
}

.toggle #bar3 {
  transform: rotate(45deg) translate(-5px, -4px);
}
