/*pied de page*/
.piedDePage {
  //   max-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #108554;
  border-top: 1px solid #333;
  clear: both;
  padding: 40px 0;
  h2 {
    margin: 0;
    font-size: 2em;
  }
}
.footer__profil img {
  width: 100px;
  height: 95px;
  border-radius: 50%;
}
.footer__content {
  box-sizing: border-box;
  float: right;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.footer__titleimg {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__titleimg img {
  width: 70px;
  height: 65px;
  border-radius: 50%;
}
.footer__titleimg h2 {
  margin-left: 5px;
}
.footer__content p {
  font-size: 1rem;
}
.footer__content p i {
  padding-right: 5px;
}
.footer_text {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer__content h2 {
    font-size: 1.5em;
  }
}
