@charset "UTF-8";
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**** UTILITAIRES ****/
/** Variables **/
/****** LAYOUT ******/
/** Styles généraux de mise en page**/
* {
  box-sizing: border-box;
}

.layout__body {
  margin: 0;
  padding: 0;
  font: 0.8em "Roboto", sans-serif;
  background-color: #f8fafc;
}

.contenu {
  margin: 0 auto;
}

.page {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
@media only screen and (max-width: 735px) {
  .page {
    float: none;
    width: 100%;
    border-bottom: 1px solid #333;
  }
}

.page-herboristerie {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  height: 80%;
}
@media only screen and (max-width: 735px) {
  .page-herboristerie {
    float: none;
    width: 100%;
    border-bottom: 1px solid #333;
  }
}

/****** MODULES ******/
/** entête de page **/
/*pied de page*/
.piedDePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #108554;
  border-top: 1px solid #333;
  padding: 40px 0;
}
.piedDePage h2 {
  margin: 0;
  font-size: 2em;
}

.footer__profil img {
  width: 100px;
  height: 95px;
  border-radius: 50%;
}

.footer__content {
  box-sizing: border-box;
  float: right;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.footer__titleimg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__titleimg img {
  width: 70px;
  height: 65px;
  border-radius: 50%;
}

.footer__titleimg h2 {
  margin-left: 5px;
}

.footer__content p {
  font-size: 1rem;
}

.footer__content p i {
  padding-right: 5px;
}

.footer_text {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .footer__content h2 {
    font-size: 1.5em;
  }
}
/** article WP **/
/**
 * @author Prénom Nom courriel
 * @todo ADAPTER ce fichier selon le projet
**/
/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Si le javascript est activé
 */
/****** Base commune *******/
/* Bouton du menu (injecté par JavaScript)*/
.navigation {
  max-width: 960px;
  margin: 0 auto;
}
.navigation__controle {
  background-color: #1c8554;
  color: white;
  border: none;
  padding: 10px;
  min-width: 40px;
}
.navigation__controle:focus {
  /**
         * Les styles du navigateur utilisent la règle outline pour définir
         * l'état focus des éléments interactifs.
         * Vous pouvez redéfinir cette règle ou remplacer par d'autres styles
         * mieux adaptés à la direction visuelle.
         * MAIS il faut souligner l'état focus et le tester au clavier.
         */
  outline-offset: -5px;
  outline: auto 5px;
}
@media (min-width: 601px) {
  .navigation__controle {
    display: none;
    padding-top: 10px;
  }
}

.menu__principal {
  background-color: #1c8554;
}

/* Liens du menu */
.menu-item a {
  font-size: 14px;
  color: white;
  display: block;
  padding: 10px 10px;
  width: 100%;
  /*     outline: none;
         border-left: 5px solid #f5ae09;*/
}
.menu-item a:link, .menu-item a:visited {
  text-decoration: none;
}
.menu-item a:active, .menu-item a:hover {
  background-color: #f5ae09;
}
.menu-item a--actif {
  border-left: 5px solid #f4d07c;
}
.menu-item a .menu-item:last-child a {
  background-color: #f5ae09;
}

/* Liste du menu */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: none;
  background-color: #1c8554;
}

@media (min-width: 601px) {
  .menu {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
@media (min-width: 601px) {
  .menu-item {
    display: inline-block;
  }
}

/* Si le javascript est activé */
/* Pour des raisons d'accessibilité, on ne cache le menu mobile
 * que si JavaScript est activé. De cette façon, s'il est désactivé,
 * le menu restera tout de même visible à l'utilisateur.
 */
.js .menu {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.5s;
}

.js .navigation--ferme .menu {
  max-height: 0;
}
@media (min-width: 601px) {
  .js .navigation--ferme .menu {
    max-height: none;
  }
}

/** article WP **/
.hero-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.background-image {
  width: 100% !important;
  display: block;
}

.overlay-content {
  position: absolute;
  top: 41%;
  left: 4%; /* Adjust as needed */
  transform: translateY(-50%);
  text-align: left;
  color: white; /* Assuming white text for better readability */
  width: 40%; /* Adjust as needed */
  padding: 20px 28px;
  border-radius: 10px;
}

.overlay-content h1,
.overlay-content h2,
.overlay-content h3 {
  margin: 0;
  margin-bottom: 10px;
}

.overlay-content h1 {
  font-size: 45px;
}

.overlay-content h2 {
  font-size: 30px;
}

.overlay-content h3 {
  font-size: 20px;
  line-height: 1.5rem;
}

button {
  background-color: #f2c94c; /* Assuming blue for button background */
  color: black; /* Assuming white text for button */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #f2c94c; /* Darker shade of blue on hover */
}

.foreground-image {
  position: absolute;
  top: 80px;
  right: 70px;
  width: 700px; /* Adjust as needed */
  height: 450px; /* Adjust as needed */
  border-radius: 10px;
}

@media (max-width: 600px) {
  .overlay-content {
    position: static;
    transform: none;
    width: 100%;
    background: none;
    color: black;
  }
  .foreground-image {
    position: absolute;
    top: 5px;
    right: 70px;
    width: 270px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
  }
}
.card__container-accueil {
  margin-bottom: 50px;
}

.card__layout_accueil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1080px;
}

.card__layout_accueil-title {
  text-align: center;
}

@media (max-width: 600px) {
  .card__layout_accueil {
    display: flex;
    flex-direction: column; /* Change to column */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
/** article WP **/
.layout__temoignages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto;
  max-width: 1080px;
}

.wrapper {
  margin: 25px 20px;
  padding: 40px 15px;
  position: relative;
  background-color: #cde8e5;
}
.wrapper:after, .wrapper:before {
  content: "";
  position: absolute;
  font-family: fontAwesome;
  font-size: 50px;
  color: #111;
  background: transparent;
}
.wrapper:after {
  content: "\f10d";
  top: 0;
  left: 0;
  transform: translate(40%, -50%);
}
.wrapper:before {
  content: "\f10e";
  bottom: 0;
  right: 0;
  transform: translate(-40%, 50%);
}

.title,
.description {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.description {
  font-family: "Open Sans";
}

.description p:first-child {
  font-size: 10px;
}

.description p:last-child {
  font-size: 15px;
  font-weight: bold;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px 0 0;
}
.title small {
  display: block;
  font-size: 25px;
  text-align: right;
}

.border-radius {
  border-radius: 30px;
}

.text-right {
  text-align: right;
}

@media (max-width: 800px) {
  .layout__temoignages {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 500px) {
  .layout__temoignages {
    margin: 0 20px;
  }
}
/** article WP **/
.hero-container-massages {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.background-image-massages {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block;
}

.article {
  border-bottom: 1px dotted #333;
  padding-right: 8px;
  margin-bottom: 10px;
}
.article__entete {
  background-color: #ffffff;
}

.card__layout {
  display: flex;
  flex-wrap: wrap;
}

.card__massage {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #cbd5e1;
}

.card__massage:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card__img {
  background-size: cover;
  height: 12rem;
  width: 100%;
  border-radius: 0.5rem;
}

.card__text {
  padding: 0 10px 10px 10px;
}

.card__paragraph {
  margin: 0;
  padding: 10px 0;
  color: black;
  font-size: 15px;
}

.card__title {
  margin-bottom: 0;
}

.card__title a {
  font-family: Arial, Helvetica, sans-serif;
  color: #111827;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.btn__massage {
  color: #518d41;
  margin-bottom: 12px;
  font-size: 14px;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .card__layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card__massage {
    width: 80%;
  }
}
/* CSS */
.button-3 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 13px;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/** article WP **/
.table__layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message__tarifs {
  padding: 10px 20px;
  background-color: #cfe7c5;
  border-radius: 10px;
}

.message__tarifs p {
  font-size: 15px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 30px 0;
}

td {
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  table {
    margin: 20px 0;
  }
  td {
    font-size: 14px;
  }
}
/** article WP **/
.profil__layout {
  display: flex;
  flex-direction: row-reverse;
  background-color: #cfe7c5;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  margin: 20px 0;
}

.profil__img img {
  float: right;
  border-radius: 50%;
  width: 200px;
  height: 190px;
  margin-right: 0;
}

.profil__text {
  margin-left: 40px;
}

.profil__text h2 {
  font-size: 24px;
}

.profil__text h3 {
  font-size: 16px;
}

.profil__text p {
  font-size: 15px;
  line-height: 1.5rem;
}

.profil__layout-experience-formation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profil__layout-formation {
  width: 80%;
  background-color: #cfe7c5;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.profil__layout-formation ul li {
  font-size: 15px;
}

@media (max-width: 800px) {
  .profil__layout-experience-formation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profil__layout-formation {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .profil__layout {
    display: flex;
    flex-direction: column;
  }
  .profil__img img {
    width: 170px;
    height: 160px;
  }
  .profil__text {
    text-align: center;
    margin: 0 0;
  }
}
.article__layout {
  max-width: 800px; /* Adjust maximum width as needed */
  margin: 0 auto;
  padding: 20px; /* Add padding for spacing */
}

.article__layout h2 {
  margin-bottom: 10px; /* Add margin below heading for spacing */
}

.article__layout p {
  /* Add margin below paragraph for spacing */
  font-size: 15px;
  line-height: 1.5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin on top of pagination */
}

.pagination-item {
  margin: 0 5px; /* Add margin between pagination items */
}

.pagination-item a {
  background-color: #f2c94c; /* Theme color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  text-decoration: none;
  border-radius: 5px; /* Add border radius for rounded corners */
}

.pagination a:first-child {
  background-color: green;
}

.pagination-item a:hover {
  background-color: #f5ae09; /* Hover color */
}

/* Responsive Styles */
@media (max-width: 600px) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination-item {
    margin: 5px; /* Adjust margin for smaller screens */
  }
}
/** single Massage **/
/* Desktop Layout */
.single__container {
  display: flex;
}

.single__container > div {
  line-height: 2rem;
  /* Adjust spacing as needed */
}

.container__single-text {
  padding-left: 28px;
  width: 50%;
  font-size: 14px;
}

.single__texte {
  text-align: left; /* Adjust text alignment as needed */
}

/* Mobile Layout */
@media (max-width: 600px) {
  .single__container {
    flex-direction: column;
  }
  .single__container > div:first-child {
    margin-bottom: 20px; /* Adjust spacing as needed */
  }
}
/** single Massage **/
.blog-article {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc; /* Add a border to separate articles */
  background-color: #fff; /* Background color for the article */
  padding: 20px; /* Add padding for spacing */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.article-header {
  margin-bottom: 20px;
}

.article__title {
  font-size: 34px;
  margin: 0;
  color: #333; /* Title color */
}

.article__meta {
  font-style: italic;
  color: #666;
}

.article__meta .article-date {
  margin-right: 10px;
}

.article__description {
  line-height: 1.6;
  font-size: 16px;
  color: #555; /* Text color */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .article__title {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}
/** barres latérales  optionnelles**//*# sourceMappingURL=styles.css.map */